* {
  font-family: "Bebas Neue", cursive;
}

#heroPitch {
  font-family: "Monoton", cursive;
}

#shortBio {
  font-family: "Bebas Neue", cursive;
}

#headshotAlina {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  float: right;
  margin-right: 20 px;
}

img.medium {
  width: 286px;
  height: 180px;
}
